*{
    margin: 0;
    padding: 0;
    
}

body{
    background: linear-gradient(135deg,#4e54c8,#8f94fb);
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.container{
    margin: auto;
    height: 470px;
    width: 470px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}



